.dashboard-container{
    border: 1px black solid;
    display: flex;
    width: 90vw;
    height: 90vh;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 15px 4px 10px goldenrod;
}

